<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2>Customers List</h2>
      <table class="table table-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">MobileNo</th>
            <th scope="col">Actions</th>        
          </tr> 
        </thead>
        <tbody>
            <tr *ngFor="let customer of customers">
                <td>{{customer.id}}</td>
                <td>{{customer.firstName}}</td>
                <td>{{customer.mobileNo}}</td>
                <td>
                  <div class="row">
                    <div class="col-md-4">
                      <button class="btn btn-info" [routerLink]="['/customer/update/', customer.id]">edit</button>
                    </div>
                    <div class="col-md-4">
                      <button class="btn btn-danger" >delete</button>
                    </div>
                  </div>
                </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
